{% extends 'admin_base.html' %} {% load static %} {% block content %}

<div class="container">
  <h2 class="mb-4"><i class="fas fa-key"></i>Change Password</h2>

  {% if messages %} {% for m in messages %}
  <div
    class="alert alert-{% if m.tags == 'error' %}danger{% else %}{{ m.tags }}{% endif %} alert-dismissible fade show"
    role="alert"
  >
    {{ m }}
    <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
  </div>
  {% endfor %} {% endif %}

  <form method="post">
    {% csrf_token %}

    <div class="mb-3">
      <label for="old_password" class="form-label">Old Password</label>
      <input
        type="password"
        class="form-control"
        id="old_password"
        name="old_password"
        placeholder="Enter current password"
        required
      />
    </div>

    <div class="mb-3">
      <label for="new_password" class="form-label">New Password</label>
      <input
        type="password"
        class="form-control"
        id="new_password"
        name="new_password"
        placeholder="Enter new password"
        required
      />
    </div>

    <div class="mb-3">
      <label for="confirm_password" class="form-label"
        >Confirm New Password</label
      >
      <input
        type="password"
        class="form-control"
        id="confirm_password"
        name="confirm_password"
        placeholder="Enter new password again"
        required
      />
    </div>

    <button type="submit" class="btn btn-success">
      <i class="fas fa-check-circle me-1"></i> Submit
    </button>
  </form>
</div>

{% endblock %}
