{% extends 'admin_base.html' %} 
{% load static %}
{% block content %}

<div class="container">
    <h2 class="mb-4"><i class="fas fa-user-edit"></i>Edit Student Info</h2>
    {% if messages %}
        {% for m in messages %}
            <div class="alert alert-{% if m.tags == 'error' %}danger{% else %}{{m.tags}}{% endif %} alert-dismissible fade show" role="alert">
                {{m}}
                <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
            </div>
        {% endfor %}
    {% endif %}
    
    <form method="post">
        {% csrf_token %}
        <div class="mb-3">
            <label for="fullname" class="form-label">Full Name</label>
            <input type="text" class="form-control" id="fullname" name="fullname" placeholder="Enter Full Name" value="{{ student_obj.name }}" required>
        </div>

        <div class="mb-3">
            <label for="rollid" class="form-label">Roll No</label>
            <input type="text" class="form-control" id="rollid" name="rollid" value="{{ student_obj.roll_id }}" placeholder="Roll No" maxlength="5" required>
        </div>

        <div class="mb-3">
            <label for="emailid" class="form-label">Email ID</label>
            <input type="email" class="form-control" id="emailid" name="emailid" placeholder="Enter Email ID" value="{{ student_obj.email }}" required>
        </div>

        <div class="mb-3">
            <label class="form-label">Gender</label><br/>
            <div class="form-check form-check-inline">
                <input type="radio" class="form-check-input" id="male" name="gender" required value="Male" {% if student_obj.gender == "Male" %}checked{% endif %}>
                <label class="form-check-label" for="male">Male</label>
            </div>
            <div class="form-check form-check-inline">
                <input type="radio" class="form-check-input" id="female" name="gender" required value="Female" {% if student_obj.gender == "Female" %}checked{% endif %}>
                <label class="form-check-label" for="female">Female</label>
            </div>
        </div>

        <div class="mb-3">
            <label for="class" class="form-label">Select Class</label>
            <input type="text" class="form-control" id="class" name="class" value="{{ student_obj.student_class.class_name }} - Section {{ student_obj.student_class.section }}" readonly>
        </div>

        <div class="mb-3">
            <label for="dob" class="form-label">Date of Birth</label>
            <input type="date" class="form-control" id="dob" name="dob" required value="{{ student_obj.dob }}">
        </div>
       
        <div class="mb-3">
            <label for="regdate" class="form-label">Registration Date</label>
            <input type="date" class="form-control" id="regdate" name="regdate" value="{{ student_obj.reg_date }}" readonly>
        </div>

         <div class="mb-3">
            <label class="form-label">Status</label><br/>
            <div class="form-check form-check-inline">
                <input type="radio" class="form-check-input" id="status" name="status" required value="1" {% if student_obj.status == 1 %}checked{% endif %}>
                <label class="form-check-label" for="status">Active</label>
            </div>
            <div class="form-check form-check-inline">
                <input type="radio" class="form-check-input" id="status" name="status" required value="0" {% if student_obj.status == 0 %}checked{% endif %}>
                <label class="form-check-label" for="inactive">Inactive</label>
            </div>
        </div>


        <button type="submit" class="btn btn-success">
            <i class="fas fa-check-circle me-1"></i>Submit
        </button>
    </form>
</div>

{% endblock %}